container/
working/
output/
reference/
__pycache__/
*-tmp-*/
temp/

*sampledata/
*.slurm
*.pyc
*.out
*.mif
templates/*.nii*
templates/*.txt
templates/*.csv
BNA_FSL/
.venv/
.vscode/

logs/
jobs/
qc*/
templates/

test*.py
*.png
*.pdf
*.txt
slurm-*
*-tmp-*/
*analysis*/
.pytest_cache/