container/
working/
output/
reference/
__pycache__/
*-tmp-*/
temp/

sample*
*.slurm
*.pyc
*.out
*.mif
templates/*.nii*
templates/*.txt
templates/*.csv
BNA_FSL/
.venv/

test*.py
*.png
*.pdf
*.txt
